.Page3_main{
    width: 80%;
    height: 1000px;
    
    margin-left: 17%;
    margin-top: -67%;


}
.Main2{
    width: 30%;
    height: 30%;
    border: 2px solid #5846f6;
    border-radius: 15px;
    margin-left: 2%;
    margin-top: 2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.pageflex_1{
    display: flex;
    
}
.pageNav_1{
    margin-left: 3%;
    margin-right: 30%;
}
.pageflex_2{
    display: flex;
    
}
.pageNav_2{
    margin-left: 2%;
    margin-right: 40%;
}
.pageflex_3{
    display: flex;
    
}
.pageNav_3{
    margin-left: 3%;
    margin-right: 55%;
}
h3{
    color: #5846f6;
}
.PMain3{
    display: flex;

}